*exe
nimcache
testresults
.gitignore
outputGotten.txt
tests/megatest.nim
site
test.nim
examples/blog/blog.db
.vscode
route/
tests/test_staticFile/public
examples/blog/blog.db
test.md
test.html
marketing.md
mark.nim
ok.nim
ok2.nim
okkk.nim
think.nim
wrong.nim
