strategy:
  maxParallel: 10
  matrix:
    Windows_stable_64bit:
      VM: 'windows-latest'
      UCPU: amd64
      CHANNEL: stable
      TEST_LANG: c
    Windows_devel_64bit:
      VM: 'windows-latest'
      UCPU: amd64
      CHANNEL: devel
      TEST_LANG: c
    Windows_cpp_devel_64bit:
      VM: 'windows-latest'
      UCPU: amd64
      CHANNEL: devel
      TEST_LANG: cpp
    Linux_stable_64bit:
      VM: 'ubuntu-latest'
      UCPU: amd64
      CHANNEL: stable
      TEST_LANG: c
    Linux_devel_64bit:
      VM: 'ubuntu-latest'
      UCPU: amd64
      CHANNEL: devel
      TEST_LANG: c
    Linux_cpp_devel_64bit:
      VM: 'ubuntu-latest'
      UCPU: amd64
      CHANNEL: devel
      TEST_LANG: cpp
    MacOS_stable_64bit:
      VM: 'macOS-latest'
      UCPU: amd64
      CHANNEL: stable
      TEST_LANG: c
    MacOS_devel_64bit:
      VM: 'macOS-latest'
      UCPU: amd64
      CHANNEL: devel
      TEST_LANG: c
pool:
  vmImage: $(VM)

steps:
  - task: CacheBeta@1
    displayName: 'cache Nim binaries'
    inputs:
      key: NimBinaries | $(Agent.OS) | $(CHANNEL) | $(UCPU)
      path: NimBinaries

  - task: CacheBeta@1
    displayName: 'cache MinGW-w64'
    inputs:
      key: mingwCache | 8_1_0 | $(UCPU)
      path: mingwCache
    condition: eq(variables['Agent.OS'], 'Windows_NT')

  - powershell: |
      Set-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem' -Name 'LongPathsEnabled' -Value 1
    displayName: 'long path support'
    condition: eq(variables['Agent.OS'], 'Windows_NT')
  - bash: |
      echo "PATH=${PATH}"
      set -e
      echo "Installing MinGW-w64"
      if [[ $UCPU == "i686" ]]; then
        MINGW_FILE="i686-8.1.0-release-posix-dwarf-rt_v6-rev0.7z"
        MINGW_URL="https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/8.1.0/threads-posix/dwarf/${MINGW_FILE}"
        MINGW_DIR="mingw32"
      else
        MINGW_FILE="x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z"
        MINGW_URL="https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win64/Personal%20Builds/mingw-builds/8.1.0/threads-posix/seh/${MINGW_FILE}"
        MINGW_DIR="mingw64"
      fi
      mkdir -p mingwCache
      pushd mingwCache
      if [[ ! -e "$MINGW_FILE" ]]; then
        rm -f *.7z
        curl -OLsS "$MINGW_URL"
      fi
      7z x -y -bd "$MINGW_FILE" >/dev/null
      mkdir -p /c/custom
      mv "$MINGW_DIR" /c/custom/
      popd
      # Workaround https://developercommunity.visualstudio.com/content/problem/891929/windows-2019-cygheap-base-mismatch-detected-git-ba.html
      echo "##vso[task.prependpath]/usr/bin"
      echo "##vso[task.prependpath]/mingw64/bin"
      echo "##vso[task.setvariable variable=MINGW_DIR;]$MINGW_DIR"
    displayName: 'Install dependencies (Windows)'
    condition: eq(variables['Agent.OS'], 'Windows_NT')
  - powershell: |
      # export custom mingw PATH to other tasks
      echo "##vso[task.prependpath]c:\custom\$(MINGW_DIR)\bin"
    displayName: 'Mingw PATH (Windows)'
    condition: eq(variables['Agent.OS'], 'Windows_NT')
  - bash: |
      echo "PATH=${PATH}"
      export ncpu=
      case '$(Agent.OS)' in
      'Linux')
        ncpu=$(nproc)
        ;;
      'Darwin')
        ncpu=$(sysctl -n hw.ncpu)
        ;;
      'Windows_NT')
        ncpu=$NUMBER_OF_PROCESSORS
        ;;
      esac
      [[ -z "$ncpu" || $ncpu -le 0 ]] && ncpu=1
      echo "Found ${ncpu} cores"
      echo "##vso[task.setvariable variable=ncpu;]$ncpu"
    displayName: 'Detecting number of cores'
  - bash: |
      echo "PATH=${PATH}"
      gcc -v
      export ucpu=${UCPU}
      if [ "${CHANNEL}" = stable ]; then
        BRANCH="v$(curl https://nim-lang.org/channels/stable)"
      else
        BRANCH="${CHANNEL}"
      fi
      mkdir -p NimBinaries
      pushd NimBinaries
      if [ ! -x "nim-${CHANNEL}/bin/nim" ]; then
        git clone -b "${BRANCH}" https://github.com/nim-lang/nim "nim-${CHANNEL}/"
        pushd "nim-${CHANNEL}"
        git clone --depth 1 https://github.com/nim-lang/csources csources/
        pushd csources
        make -j $ncpu ucpu=${UCPU} CC=gcc
        popd
        rm -rf csources
        bin/nim c koch
        ./koch boot -d:release
        ./koch tools
      else
        pushd "nim-${CHANNEL}"
        git fetch origin "${BRANCH}"
        if [[ $(git merge FETCH_HEAD | grep -c "Already up to date.") -ne 1 ]]; then
          bin/nim c koch
          ./koch boot -d:release
          ./koch tools
        fi
      fi
      popd # exit nim-${CHANNEL}
      popd # exit NimBinaries
    displayName: 'Building Nim'
  - powershell: |
      echo "##vso[task.prependpath]$pwd\NimBinaries\nim-$(CHANNEL)\bin"
    displayName: 'Set env variable (Windows)'
    condition: eq(variables['Agent.OS'], 'Windows_NT')
  - bash: |
      echo "##vso[task.prependpath]$PWD/NimBinaries/nim-${CHANNEL}/bin"
    displayName: 'Set env variable (Posix)'
    condition: ne(variables['Agent.OS'], 'Windows_NT')
  - bash: |
      echo "PATH=${PATH}"
      nimble refresh
      nimble install -y
    displayName: 'Building the package dependencies'
  - bash: |
      echo "PATH=${PATH}"
      export ucpu=${UCPU}
      nimble tests
    displayName: 'Testing the package'
