name: Test Prologue

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
#           - windows-latest
#           - macOS-latest
        nim-version:
          - stable
          - devel
#         exclude:
#           - os: windows-latest
#             nim-version: devel
#           - os: macos-latest
#             nim-version: devel
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Cache choosenim
      id: cache-choosenim
      uses: actions/cache@v3
      with:
        path: ~/.choosenim
        key: ${{ runner.os }}-choosenim-${{ matrix.nim-version}}

    - name: Cache nimble
      id: cache-nimble
      uses: actions/cache@v3
      with:
        path: ~/.nimble
        key: ${{ runner.os }}-nimble-${{ matrix.nim-version}}-${{ hashFiles('prologue.nimble') }}
        restore-keys: |
          ${{ runner.os }}-nimble-${{ matrix.nim-version}}-

    - name: Setup nim
      uses: jiro4989/setup-nim-action@v1
      with:
        nim-version: ${{ matrix.nim-version }}

    - name: Install Packages
      run: nimble install -y

    - name: Install extension
      run: logue extension all

    - name: Test
      run: nimble tests
